.container {
    display: flex;
    padding: 20px;
    margin: 5px;
}

.container1 {
    padding: 20px;
    margin: 5px;
}

.title {
    display: flex;
    text-align: center;
}

#subtitle {
    display: flex;
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
}

.bodycl {
    background-color: plum;
}

.input, .checknum, .randomnum {
    border: 3px solid black;
    margin: 5px;
    width: 150px;
    height: 30px;
}

